* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f4f6f9;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;

  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #fafafa;
  padding: 20px;
  margin-top: 20px;
  border-color: #228e5c;
  border-top: 3px;

  border-top-style: solid;
  border-top-color: #228e5c;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.card img {
  width: 90px;
  float: right;
  border: 2px;
  border-color: #228e5c solid;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  left: 10px;
  bottom: 5px;
  right: 10px;
  width: 95%;
  background-color: #228e5c;
  color: white;
  text-align: center;
  font-size: 12px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* nav bar*/

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #228e5c;
  overflow: auto;
  position: sticky;
  top: 0;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04aa6d;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
